.main {
  align-items: center;
  justify-content: center;
}

.container {
  background: #3f90df;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .slideRow {
  width: 3200px;
  transition: 0.5s;
} */
.slideRow {
  display: flex;
}

.slideCol {
  width: 800px;
  height: 400px;
  position: relative;
}

.userImg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.userImg img {
  height: 100%;
  border-radius: 10px;
}

.userText {
  background: #2d3a59;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #eeeeee;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}

.position {
  font-size: 18px;
  line-height: 24px;
}

.about {
  font-size: 13px;
  color: #cfcfcf;
}

.userText h3 {
  /* margin: 30px 0 5px; */
  margin: auto;
  font-size: 24px;
  color: #fff;
}

.wrapper {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}

.activeBtn {
  display: inline-block;
  height: 15px;
  width: 45px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}
@media (max-width: 805px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .userImg {
    right: 20%;
    height: 70%;
  }
  .userText {
    width: 270px;
    height: auto;
    left: 15%;
  }
  .userText h3 {
    font-size: 20px;
  }
  .position {
    font-size: 12px;
  }
  .about {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    height: 500px;
  }
  .userImg {
    right: 10%;
  }
  .userImg img {
    height: 70%;
  }
  .userText {
    padding: 25px;
    top: 80%;
  }
  .userText h3 {
    font-size: 17px;
  }
  .position {
    font-size: 10px;
  }
  .about {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
}
